#content {
    margin: 0 auto;
    width: 800px;
    padding: 45px;
    padding-top: 45px;
    padding-bottom: 45px;
}

#innerCode {
    padding-left: 50px;
}
#pic {
    margin: 0 auto;
    width: 250px;
    padding-bottom: 30px;
}

body {
    background-color: #263238;
    color: #CDD3DE;
}

#filebar {
    background-color: #1F292E;
}

#file {
    border-bottom-style: solid;
    border-bottom-color: #009688;
    padding: 20px;
    width: 142px;
}

#filename {
    padding-left: 10px;
}

#detailsbar {
    background-color: #1F292E;
    padding: 8px;
    text-align: right;
}

#chartype {
    padding-right: 5px;
}

#filetype {
    padding-left: 5px;
}

#filetype {
    text-align: right;
}

.category {
    color: #FAD430
}

.interest {
    color: #80CAC3;
}

#var {
    color: #C792EA;
}

.comma {
    color: #DC322F;
}

#brackets {
    color: #7BC2BC;
}

#firstname {
    color: #3498db;
}

#lastname {
    color: #e74c3c;
}

#project {
    color: #C792EA;
}

.array {
    color: #CDD3DE;
}

#email {
    color: #FFBD07;
}

#twitter {
    color: #1DA1F2;
}

#linkedin {
    color: #0077B5;
}
