#content {
    margin: 0 auto;
    width: 800px;
    padding: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
}

#innerCode {
    padding-left: 50px;
}
#pic {
    margin: 0 auto;
    width: 250px;
}

body {
    background-color: #263238;
    color: #CDD3DE;
}

.category {
    color: #FAD430
}

.interest {
    color: #80CAC3;
}

#var {
    color: #C792EA;
}

.comma {
    color: #DC322F;
}

#brackets {
    color: #7BC2BC;
}

#firstname {
    color: #3498db;
}

#lastname {
    color: #e74c3c;
}
